/* Header.css */
.header-container {
    background-color: rgb(40, 179, 218);
    text-align: center;
    width: 29.25em;
    height: 2em;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 1em;
  }
  