.mypostview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* コンポーネント間のスペース */
    max-height:17.15em; /* スクロール可能にする最大の高さを指定 */
    overflow-y: auto; /* 垂直方向のスクロールを有効にする */
    width: 50vw;
    overflow-x: hidden;
}
.mypostview-container::-webkit-scrollbar {
width: 0;
height: 0;
}

/* Firefoxのスクロールバーを非表示にする */
.mypostview-container {
scrollbar-width: none; /* Firefox用 */
}

.MyPostView-message{
    color: black;
}