.User-postview-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px; /* コンポーネント間のスペース */
    max-height:68vh; /* スクロール可能にする最大の高さを指定 */
    overflow-y: auto; /* 垂直方向のスクロールを有効にする */
    width: 29.25em;
    overflow-x: hidden;
    scrollbar-width: none;
}
.private-message{
    margin-top: 6em;
    font-weight: bold;
    color: black;
}