.icon-container {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
  width: 2em; /* 必要に応じて幅を調整 */
  height: 2em; /* 必要に応じて高さを調整 */
  border-radius: 50%;
  margin-right: 0.5em; /* 画像とテキストの間のスペース */
  line-height: 1.2;
  cursor: pointer;
  }
  
  