body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.title {
    text-align: center;
    margin-top: 50px;
    font-size: 24px;
}

.navigation {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

div div {
   margin-bottom: 10px; 
}

.practice {
   display: block;
   background-color:white; 
   text-align:center; 
   padding:20px; 
   border-radius:5px; 
   box-shadow : 0 2px 4px rgba(0,0,0,0.2);
   color: black;
   text-decoration: none;
}

.error{
    font-size: 50px;
    color: red;
    text-align: center;
}