/* Header.css */
.header-container {
    background-color: rgb(40, 179, 218);
    width: auto;
    text-align: center;
    width: 30em;
    height: 2em;
  }
  
  .header-container h1 {
    margin: 0;
    font-size: 24px;
  }
  