.icon-container {
    display: flex;
    align-items: center;
  }
  
  .user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .username {
    font-size: 1.2em;
    font-weight: bold;
  }
  