/* Logout.css */

.logout-container {
    text-align: center;
    margin-top: 20px; 
    width: 30em;
    margin: auto;
  }
  .logout-text{
    text-align: center;
    font-size: 1.5rem;
  }
  .logout-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    width: 100%;
  }
  
  .logout-button:hover {
    background-color: #0056b3;
  }
  #logout-dialog{
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  .logout-confirm-text{
    font-size: 1.25rem;
  }
  .logout-modalBtn{
    margin-left: 18em;
  }
  
  
  