#postcreatedialog  {
    border: none;
    border-radius: 8px;
    width: 400px;
    height: 300px;
    z-index: 10;
    padding: 20px; /* Ensure internal spacing */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    position: relative; /* Ensure positioning for child elements */
}
#postcreatedialog::backdrop {
    background: rgba(0,0,0,0.3);
}

#postcreatemodalBtn {
    position: absolute;
    top: 8px;
    right: 8px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#postcretetextArea {
    background: none;
    border: none;
    resize: none;
    margin: 0 auto 10px auto;
    width: 300px;
    height: 150px;
    display: block;
}

#postcreatesubmitBtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
}

#postcreatesubmitBtn:hover {
    background: #0056b3;
}