.mypage-container{
    display: flex;
}
.mypage-header-posts-container{
    flex-direction: column;
}

.mypage-App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: flex-start;
  }
  