.User-Follow-button{
    position: absolute;
    right: 29em;
    top: 8em;
}
.userpage-container{
    display: flex;
}
.userpage-header-posts-container{
    flex-direction: column;
}

.userpage-App-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
    color: white;
    justify-content: flex-start;
}
.userpage-userinfo{
    display: flex;
}

.userpage-userinfo .user-icon {
    width: 4em; /* 必要に応じて幅を調整 */
    height: 4em; /* 必要に応じて高さを調整 */
}
.userpage-userinfo .username {
    font-size:  1.5em;/*この文字サイズだけ変わんない*/
    padding-top: 0.3em;
}
.userpage-userinfo .userid {
    font-size: 1.5em; /* フォントサイズを設定 */
}
