.direct-message-search-container{
    width: 13.5em;
    text-align: center;
   }
   .search-post{
       margin-top: 0.2em;
       width:16.5em;
       height: 3em;
       border-radius: 1.5em;
       border: none;
       background-color: #efeeee;
       padding-left: 2.5em;
       padding-right: 2.5em;
   }
   .search-icon{
       width: 0.8em;
       height: 0.8em;
       position: absolute;
       margin-left:0.5em;
       margin-top: 0.7em;
       color: #efeeee;
   }
   .clear-button{
       border-radius: 1.5em;
       border: none;
       background-color: rgb(40, 179, 218);
       position: absolute;
       margin-top: 1.15em;
       right:2.4em;
   }
   .clear-button img {
       width: 1em; /* クリアアイコンの幅を適宜調整 */
       height: 1em; /* クリアアイコンの高さを適宜調整 */
    }